<!-- Start main-nav -->
<html xmlns:th="http://www.thymeleaf.org">
<div class="main-nav-container style3"   th:fragment="menu">
	<div class="main-nav-inner">
		<div class="logo-container">
			<a href="#"> <img src="img/logo/logo-style3.png"
				alt="Marine Food Logo" />
			</a>
		</div>
		<!-- /logo-container -->
		<nav class="main-nav">
			<ul>
				<li class="active"><a href="index-organic.html">Home</a></li>
				<li><a href="about-organic.html">About Us</a></li>
				<li><a href="blog-organic.html">Blog</a></li>
				<li><a href="store-organic.html">Store</a></li>
				<li><a href="menu-organic.html">Menu</a></li>
				<li><a href="reservation-organic.html">Reservation</a></li>
			</ul>
		</nav>
	</div>
	<!-- /main-nav-inner -->
</div>
<!-- /main-nav-container -->
<!-- End main-nav -->

</html>